 .maincontentdiv { border: 1px solid #D9534F;border-bottom: none; border-radius:3px 3px 0 0 ;height:100%;    box-shadow: 0 0 4px 0 #E9E9E9;    position: fixed;    right: 0;    width: 235px;    z-index: 12394924;	background-color:#fff;	max-height:100%;}
 .chatfriendheader{cursor: pointer;}
 .maincontentdiv >div ul{ margin: 0;    padding: 0 !important;    width: 100%;height:560px; overflow-y:scroll;}
 .maincontentdiv li{	list-style-type:none;	padding:10px 4px 5px 9px;	border:1px solid #f0f0f0;	cursor: pointer;}
 .chatfriendheader,.ShchatBarBoxTitle {    background-color: #DF1B1F; border-bottom: 1px solid #ccc;color: #FFFFFF;line-height: 1.28;  padding: 6px 6px;}
 .chatfriendheader span {  display: inline-block;  font-family: arial,sans-serif;  font-size: 13px;  height: 16px;  overflow: hidden;  text-decoration: none;  text-overflow: ellipsis;  vertical-align: top;}
 em.userpic {  float: left;}
 em.userpic img {  max-width: 32px;  max-height: 32px;  height: 32px;  width: 32px;  min-width: 32px;  min-height: 32px;}
 .right {  float: right !important;}
 .currentOnlineStatus {  background-image: url("../images/iconsspriteMain.png");  background-position: -560px -440px;  background-repeat: no-repeat;  display: inline-block;  height: 16px;  opacity: 1;  width: 20px;}
 .ShChatBoxlisting {  border: 1px solid black;  width: 201px;  max-height:343px;  position: fixed;  bottom: 0px;  min-height:32px;}
 .ShchatBarBoxTitle { position: fixed; width: 258px; }
 .ShchatBarBoxToolbar{margin-top:30px;}
 .ShchatBarBoxToolbar1{margin-top:0px;}
 .ShChatcontainer {margin-top: -1px;position: absolute;top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat')?documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight): document.body.scrollTop +(document.body.clientHeight-this.clientHeight));}
 /* .ShChatcontainer{position:fixed;bottom: -2px;left:10px;z-index: 1000000;width: 90%;}*/
 .ShChatcontainer{z-index: 1000000;width:100%;margin-right:280px;}
 ul.ShChatBoxlisting{margin:0px;padding:0px;width:100%;float:right;margin-right:280px;position:relative;}
 ul.ShChatBoxlisting li{}
 .ShChatBoxlisting ul{list-style-type:none;padding:0px;margin:0px !important;}
 #left {display: inline-block;width: auto !important;}
 #middle {display: inline-block;margin-left: 10px !important;}
 .ShChatBoxlisting{ width:260px; border:1px solid #ccc; border-bottom:0; box-shadow: 0 0 4px 0px #e9e9e9; -moz-box-shadow: 0 0 4px 0px #e9e9e9; -webkit-box-shadow: 0 0 4px 0px #e9e9e9; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; -khtml-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; position:fixed; right:0; bottom:0; z-index: 12394924;background-color: white;}
 .ShChatBoxlistingFirstBar{right:280px;}
 .ShChatBoxlistingSecondBar{right:560px;}
 .unreadmsgbox{ background-color:#585858 !important; color:#fff !important; font-weight:bold; }
 .unreadmsgbox > .ShchatBarBoxTitleScreenOption em{ filter: alpha(opacity=1) !important; -moz-opacity: 1.0 !important; opacity: 1.0 !important; }
 .ShchatBarBoxTitle { background-color: #F1F1F1; color: #666666; padding: 5px; line-height: 1.28; border-bottom:1px solid #ccc; }
 .ShchatBarBoxTitle span{ font-family: arial,sans-serif; font-size: 13px; height: 16px; overflow: hidden; display:inline-block; text-decoration: none; text-overflow: ellipsis; vertical-align:top; }
 .ShchatBarBoxTitleTextOption{display: inline-block;width:auto;}
 .ShchatBarBoxTitle em.available{background-image: url("../images/iconsspriteMain.png");background-position: -560px -440px;background-repeat: no-repeat;display:inline-block;height: 16px;opacity: 1;/*width: 20px;*/}
 .ShchatBarBoxTitle em.unavailable{background-image: url("../images/iconsspriteMain.png");background-position: -588px -440px;background-repeat: no-repeat;display:inline-block;height: 16px;opacity: 1;width: 20px;}
 .ShchatBarBoxTitleScreenOption{  display: inline-block; width: 50px;  float: right;}
 em.ShchatBarScreenMinimize{background-image:url(../images/longSprite2.png);background-repeat:no-repeat;background-position:-1326px -62px;padding-left:23px;width:0px;font-size:10pt;font-weight:bold;cursor:pointer;float:right;display:block;height:11px; filter: alpha(opacity=2);-moz-opacity: 0.2;opacity: 0.2;}
 em.ShchatBarScreenClose{background-image:url(../images/longSprite.png);background-repeat:no-repeat;background-position:-304px 2px;padding-left:23px;width:0px;font-size:10pt;font-weight:bold;cursor:pointer;float:right;display:block;height:18px; filter: alpha(opacity=2);-moz-opacity: 0.2;opacity: 0.2;}
 em.ShchatBarScreenClose:hover{filter: alpha(opacity=10);-moz-opacity: 1.0;opacity: 1.0;}
 em.ShchatBarScreenMinimize:hover{filter: alpha(opacity=10);-moz-opacity: 1.0;opacity: 1.0;}
 .ShchatBarBoxToolbar em:hover{filter: alpha(opacity=10);-moz-opacity: 1.0;opacity: 1.0;}
 .ShchatBarBoxToolbar{height:31px;background-color:#f4f4f4;border-top:1px solid #fff;border-bottom:1px solid #ddd;  width: 258px;}
 .ShchatBarBoxToolbar1 em:hover{filter: alpha(opacity=10);-moz-opacity: 1.0;opacity: 1.0;}
 .ShchatBarBoxToolbar1{height:31px;background-color:#0099CC;border-top:1px solid #fff;border-bottom:1px solid #0099CC;  width: 233px;}
 .ShchatBarBoxToolbarHistory{float:left;display:block;border-right:1px solid #d8d8d8;height: 30px;width: 30px;}
 .ShchatBarBoxToolbarClear{float:left;display:block;border-right:1px solid #d8d8d8;height: 30px;width: 30px;}
 .ShchatBarBoxToolbarSettings{float:right;position:relative;}
 .ShchatBarBoxToolbarSettingsOption{display:none;background-color: #FFFFFF;border: 1px solid #DDDDDD;border-top:none;min-height: 40px;left: -76px;position: absolute;top: 31px;min-width: 101px;z-index:12000;padding-top:10px;padding-bottom:10px;}
 .ShchatBarBoxToolbarSettingsOption div{font-size:8pt;font-family: arial,sans-serif;cursor:pointer;}
 .ShchatBarBoxToolbarSettingsOption div a{color:#111;}
 .ShchatBarBoxToolbarSettingsOption ul li{margin-bottom:0px;padding:7px 7px 7px 7px;font-size:11px;}
 .ShchatBarBoxToolbarSettingsOption ul li:hover{background-color:#f1f1f1;cursor:pointer;}
 .ShchatBarBoxToolbarSettings em.showChatSettings{background-image:url(../images/longSprite.png);background-repeat:no-repeat;background-position:-426px 8px;width:25px;cursor:pointer;display:block;height:30px; filter: alpha(opacity=4);-moz-opacity: 0.4;opacity: 0.4;border:1px solid #f4f4f4;border-bottom:none;z-index:12043;}
 .ShchatBarBoxToolbarSettings1 em.showChatSettings{background-position:-432px 1px!important;width:16px!important;height:23px!important;}
 .SettingIconClicked{background-color:#fff;border:1px solid #DDDDDD !important;border-bottom:1px solid #fff;filter: alpha(opacity=10) !important;-moz-opacity: 1.0 !important;opacity: 1.0 !important;}
 .ShchatBarBoxToolbarSettingsActive{background-color:#fff;border-bottom:1px solid #fff;filter: alpha(opacity=10) !important;-moz-opacity: 1.0 !important;opacity: 1.0 !important; }
 .ShchatBarBoxToolbarHistory em{background-image:url(../images/longSprite.png);background-repeat:no-repeat;background-position:-255px 8px;width:30px;cursor:pointer;display:block;height:30px; filter: alpha(opacity=4);-moz-opacity: 0.4;opacity: 0.4;}
 .ShchatBarBoxToolbarClear em{background-image:url(../images/longSprite2.png);background-repeat:no-repeat;background-position:-265px -26px;width:30px;cursor:pointer;display:block;height:30px; filter: alpha(opacity=4);-moz-opacity: 0.4;opacity: 0.4;}
 .ShchatBarBoxScreenWindow{height:225px;background-color:#fff;overflow:auto;overflow-x:hidden;width:100%;}
 .ShchatBarBoxStatusWindow{height:30px;border-top:1px solid #e8e8e8;background-color:#fff;}
 .ShchatBarBoxcomposeWindow{background-color:#00000;height:43px;border-top:1px solid #ddd;padding:5px;}
 .ShchatBarBoxcomposeInput{width:248px;resize:none;border:1px solid #ccc;height:35px;max-height:35px;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;font-size: 11px;}
 .ShchatBarBoxcomposeInput:focus{border-color:#0088ff;-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;-o-transition-duration: 0.8s;transition-duration: 0.8s;}
 .ShchatBarBoxStatusWindow #left{float:left;}
 .ShchatBarBoxStatusWindow #right{float:right;}
 .threadmsgcontainerleft{width:auto; padding:8px 0px 4px 8px;}
 .threadmsgcontainerleft:hover .UserChatMsgOptions{display:block;background-color:#fff;} 
 .threadmsg{position:relative;display:table;}
 .UserChatMsgOptions{position:absolute;right:-20px;display:none;bottom:0px;}
 .ChatUserMessagediv pre {  display: block; padding: 9.5px;  margin: 0 0 10px;  font-size: 13px;  line-height: 1.42857143;  color: #333;  word-break: break-all;  word-wrap: break-word;  background-color: #f5f5f5;  border: 1px solid #ccc;  border-radius: 4px;}
 .ShchatBarBox{width:100%;}
 .editoptionsDelete{display:inline-block;vertical-align:bottom;}
 span.instantDelete{background-image:url(../images/longSprite2.png);background-repeat:no-repeat;background-position:-543px 2px;display:block;height: 16px;opacity: 1;width: 16px;cursor:pointer; filter: alpha(opacity=2);-moz-opacity: 0.2;opacity: 0.2;}
 span.instantDelete:hover{filter: alpha(opacity=1);-moz-opacity: 1.0;opacity: 1.0;}
 .messagelineimg img{width:25px;height:25px;max-width:25px;max-height:25px;position:relative;top:-15px;margin-top:-12px;border: 1px solid #dfdfdf;border-radius: 50%;padding: 2px;}
 .ChatUserMessagediv{width:180px;}
 .ChatUserMessagediv pre{font-family:sans-serif;white-space: pre;white-space:pre-wrap;white-space: pre-line;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: -moz-pre-wrap;word-wrap: break-word;direction: ltr;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;font-size: 11px;line-height: 1.28;text-align: left;color:#333;}
 .UserChatmsgTimeSpan{font-size:8pt;display:inline-block;vertical-align:middle;}
 .typingstatus{font-size:8pt;font-family: arial,sans-serif;color:#333;}
 .typingstatus em{background-image:url(../images/longSprite2.png);background-repeat:no-repeat;background-position:-1115px -129px;width:28px;display:block;height:30px; filter: alpha(opacity=1);-moz-opacity: 1.0;opacity: 1.0;float:left;}
 .typingstatus span{float:left;padding-top:7px;padding-bottom:7px;}
 .typingstatus_box{font-size:8pt;font-family: arial,sans-serif;color:#333;}
 .typingstatus_box em{background-image:url(../images/longSprite2.png);background-repeat:no-repeat;background-position:-1115px -129px;width:28px;display:block;height:30px; filter: alpha(opacity=1);-moz-opacity: 1.0;opacity: 1.0;float:left;}
 .typingstatus_box span{float:left;padding-top:7px;padding-bottom:7px;}
 em.emotions{background-image:url(../images/iconsspriteMain.png); background-repeat:no-repeat; background-position:-546px -405px;width:28px;display:block;height:30px; filter: alpha(opacity=1);-moz-opacity: 1.0;opacity: 1.0;float:left;}
 ul.ShchatBarBoxScreenWindowTexts{}ul.ShchatBarBoxScreenWindowTexts li{width:100%;height:auto;border-bottom:1px solid #e8e8e8;padding-bottom:5px;}/* friend list */
 .ShChatBoxFriendsListBody{border: 1px solid #CCCCCC;bottom: 70px;height: 350px;left: 10px;position: absolute;width: 255px;overflow:hidden;}
 .ShChatBoxFriendsUserDetail{background-color:#f8f8f8;height:25px;padding-top:10px;border-bottom:1px solid #ccc;}
 .userName{margin-left:10px;font-family: arial,sans-serif;font-size: 13px;height: 16px;overflow: hidden;text-decoration: none;text-overflow: ellipsis;float:left;}
 .UserOnline{background-image: url("../images/iconsspriteMain.png");background-position: -583px -412px;background-repeat: no-repeat;display: block;float: left;height: 24px;opacity: 1;width: 28px;}
 .Useroffline{background-image: url("../images/iconsspriteMain.png");background-position: -607px -412px;background-repeat: no-repeat;display: block;float: left;height: 24px;opacity: 1;width: 28px;}
 .MessageAlertOn{background-image: url("../images/iconsspriteMain.png");background-position: -399px -439px;background-repeat: no-repeat;display: block;float: right;height: 24px;opacity: 1;width: 28px;}
 .ShChatBoxFriendsUserSearch{height:28px;background-color:#f8f8f8;border-top:1px solid #fff;border-bottom:1px solid #ddd;padding:4px;}
 .ShChatBoxFriendsUserSearchContents{border:1px solid #ccc;height:24px;}
 .ShChatBoxFriendsUserSearchContents em{background-image:url(../images/longSprite.png);background-repeat:no-repeat;background-position:-43px 5px;width:25px;cursor:pointer;display:block;height:24px; filter: alpha(opacity=4);-moz-opacity: 0.4;opacity: 0.4;border:1px solid #f4f4f4;border-bottom:none;float:left;border-right:1px solid #999;}
 .ShChatBoxFriendsUserSearchContents input{background-color: #F8F8F8;border: 0 none;float: left;height: 22px;width: 204px;margin-left:5px;color:#999;}.ofc{float:left;margin-left:5px;}.ofc em{font-style:normal;}
 .ShChatBoxFriendsListArea{background-color:#fff;width:100%;height:275px;max-height:275px;min-height:275px;overflow:auto;overflow-x:hidden;padding-bottom:1px;}
 .ShChatBoxFriendsListArea ul li{border-bottom:1px solid #f1f1f1;padding:8px;}
 .ShChatBoxFriendsListArea ul li:hover{background-color:#f4f4f4;cursor:pointer;}
 .ShChatBoxFriendsListArea ul li span{display:block;max-width:112px;width:112px;margin-left:10px;padding-top:7px;overflow:hidden;float:left;}
 em.userpic{float:left; border: 1px solid #dfdfdf; padding: 2px;border-radius: 50%;  margin-top: -6px;margin-right: 6px;}em.userpic img{max-width:32px;border-radius: 50%;max-height:32px;height:32px;width:32px;min-width:32px;min-height:32px;}
 em.useralert{float:right;width:20px;}
 em.usermessagealert{background-image: url("../images/iconsspriteMain.png");background-position: -399px -439px;background-repeat: no-repeat;display: block;float:right;height: 24px;opacity: 1;width:20px;}
 .conversationLoadingmsg{text-align:center;display:block;font-weight:bold;font-size:8pt;top:30%;color:#ccc;height:60px;padding-top: 75px;}
 .container_body {background: none repeat scroll 0 0 #FFFFFF;height: 160px;overflow-x: hidden;overflow-y: auto;padding-left: 3px;position: absolute;width: 257px;z-index: 100;}
 .smilyClass {border: medium none !important;height: 18px !important;max-height: 18px !important;max-width: 18px !important;width: 18px !important;}
 .onlineNotifierClass{background-color:#0088ff;padding:8px;position:fixed;bottom:0px;left:10px;color:#fff;border:1px solid #0088ff;font-weight:bold;direction: ltr;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;font-size: 11px;line-height: 1.28;text-align: left;opacity:0.9;-webkit-border-radius: 0px 3px 0px 0px;-moz-border-radius: 0px 3px 0px 0px;border-radius: 0px 3px 0px 0px;-khtml-border-radius: 0px 3px 0px 0px;padding-bottom:5px;display:none;}
 .onlineNotifierClass img{display:inline-block;margin-right:7px;width:23px;height:23px;}
 .onlineNotifierClass span{display:inline-block;margin-top:3px;vertical-align:top;}
 .onlineNotifierClass ul li{margin-bottom:2px;}
 .offlineNotifierClass{border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;box-shadow: 0 1px 2px rgba(0,0,0,.1);  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);border: 1px solid #CCC;background-color: #FFF;padding: 5px 8px 6px 8px;background-color: #f4f4f4;background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));  background-image: -webkit-linear-gradient(top, #ffffff, #f4f4f4);background-image: -moz-linear-gradient(top, #ffffff, #f4f4f4);background-image: -ms-linear-gradient(top, #ffffff, #f4f4f4);background-image: -o-linear-gradient(top, #ffffff, #f4f4f4);background-image: linear-gradient(top, #ffffff, #f4f4f4);filter: progid :DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f4f4f4');-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;-webkit-transition: all 0.1s ease-out;-ms-transition: all 0.1s ease-out;transition: all 0.1s ease-out;color: #313131;display:none;position:fixed;bottom:0px;left:10px;}
 .offlineNotifierClass img{display:inline-block;margin-right:7px;width:23px;height:23px;}
 .offlineNotifierClass span{display:inline-block;margin-top:3px;vertical-align:top;}
 .offlineNotifierClass ul li{margin-bottom:2px;}
 .selectboxessmall_chat {border: 1px solid #E5E5E5;border-radius: 2px 2px 2px 2px;color: #999999;left: 50px;padding: 0;position:relative;top: -2px;width: 84px;}
 .imgTip{}.imgTip:hover{cursor:pointer;} 
 .imgTipcontainer{background-color:#000;color:#fff;font-size:11px;position:absolute;padding:8px;z-index:12394950;}
 .toolTipArrow{position:absolute;background-image:url(../images/longSprite.png);background-repeat:no-repeat;background-position:-260px -66px;width:20px;height:20px;right:-20px;top:-8px;display:block;}
 .currentOnlineStatus{background-image: url("../images/iconsspriteMain.png");background-repeat: no-repeat;display: inline-block;height: 16px;opacity: 1;width: 20px;}
 .currentOnlineStatus.online{background-position: -560px -440px;}
 .currentOnlineStatus.offline{background-position: -590px -440px;}